fieldset.group  {
	clear: both;
	margin-top: 20px;
	width: 500px;
}

fieldset.group legend {
	font-weight: bold;
	font-size: larger;
}

fieldset.group h2 {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 110%;
}

fieldset.group div.manager {
	margin-bottom: 10px;
}

fieldset.group .members ul {
	padding: 0px;
	margin-top: 0px;
}
fieldset.group .members li {
	list-style-type: none;
}

fieldset.group div.delete_controls {
	margin-top: 10px;
}

#group_tree li {
	list-style-type: circle;
}

#group_tree ul.manager {
	padding-left: 25px;
}
#group_tree ul.manager li {
	font-style: italic;
	list-style-type: none;
}